doctype html
html
	head
		meta(charset='utf-8')
		title= "todo list app"
	body
		h1 hello jade render

		- var flag === 1 ;

		if flag === 0
			p 0でっせ
		else if flag === 1
			p そら1よ
		else
			0でも1でもないなにか

